.env
/conectacaa/conectacaa/__pycache__
conectacaa/db.sqlite3
conectacaa/caaordserv/__pycache__/views.cpython-313.pyc
/conectacaa/caaordserv/__pycache__
/conectacaa/caaordserv/__pycache__

conectacaa/caaordserv/management/commands/criar_ordens_harry_potter.py
conectacaa/caaordserv/management/commands/deletar_ordens.py
/conectacaa/media
