conectacaa/conectacaa/settings.py
.env
/conectacaa/conectacaa/__pycache__
conectacaa/db.sqlite3
conectacaa/caaordserv/__pycache__/views.cpython-313.pyc
/conectacaa/caaordserv/__pycache__
/conectacaa/caaordserv/__pycache__
