{% extends 'base_auth.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">
      <div class="card-body">
        <div class="text-center mb-2">
          <img src="{% static 'img/logo.png' %}" alt="Logo Conecta CAA" class="img-fluid" style="max-width: 200px;">
        </div>
        <div class="card-title py-3">
          <center><h4>Login</h4></center>
        </div>

        {% if messages %}
        <div class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}

          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="Nome de usuário"
              class="form-control form-control-sm"
              required
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Senha"
              class="form-control form-control-sm"
              required
            />
            <small class="float-right py-3 showPasswordToggle">MOSTRAR</small>
          </div>
          <input type="submit" value="Entrar" class="btn btn-block" style="background-color: #00a652; border-color: #00a652; color: white;"/>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock content %}