{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Conecta CAA {% block title %} {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" />
    <link href="{% static 'css/main.css'%}" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color: #00a652;">
      <div class="col-sm-3 col-md-2 d-flex text-center px-0">
        <a class="navbar-brand w-100 py-2 m-2" href="#">Conecta CAA</a>
      </div>
      
      <ul class="navbar-nav mr-auto" style="display: flex; flex-direction: row; margin-left: 20px;">
        <li class="nav-item">
          <a class="nav-link px-3" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#">Relatórios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" href="#">Sobre</a>
        </li>
      </ul>

      <ul
        class="navbar-nav px-3"
        style="display: flex; flex-direction: row; align-items: center; margin-right: 10px;"
      >
        <li class="nav-item text-nowrap">
          <form action="{% url 'logout' %}" method="post" style="margin: 0;">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link" style="text-decoration: none;">Sair</button>
          </form>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        {% comment %}Sidebar foi removida{% endcomment %}

        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4" style="padding-top: 60px;">
          {% block content %} {% endblock %}
        </main>

      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.4/static/js/vendor/jquery.slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
     <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>